*.pyc
biplane_blade/stn*
alt_biplane_configs/biplane_flap-asym_no-stagger/stn*
alt_biplane_configs/biplane_flap-asym_stagger/stn*
alt_biplane_configs/biplane_flap-sym_stagger/stn*
sandia_blade/*.png
biplane_blade/*.png
alt_biplane_configs/biplane_flap-asym_no-stagger/*.png
alt_biplane_configs/biplane_flap-asym_stagger/*.png
alt_biplane_configs/biplane_flap-sym_stagger/*.png
*.log
sandia_blade/percent_areas.csv
sandia_blade/percent_masses.csv
tsave*
tghist
*.ech
*.opt
*.v0
*.v1S
*.v22
sandia_blade/beam_model/*.grf
sandia_blade/beam_model/*.plt
sandia_blade/beam_model/*.ats
sandia_blade/beam_model/*.eig
sandia_blade/beam_model/*.html
sandia_blade/beam_model/*.out
sandia_blade/beam_model/*.rcv
sandia_blade/beam_model/FIGURES/*.mdt
biplane_blade/beam_model/*.grf
biplane_blade/beam_model/*.plt
biplane_blade/beam_model/*.ats
biplane_blade/beam_model/*.eig
biplane_blade/beam_model/*.html
biplane_blade/beam_model/*.out
biplane_blade/beam_model/*.rcv
biplane_blade/beam_model/FIGURES/*.mdt
