*.pyc
sandia_blade/stn29
sandia_blade/stn3*
sandia_blade/stn16
biplane_flap-asym_no-stagger/stn*
biplane_flap-asym_stagger/stn*
biplane_flap-sym_no-stagger/stn*
biplane_flap-sym_stagger/stn*
sandia_blade/*.png
biplane_flap-asym_no-stagger/*.png
biplane_flap-asym_stagger/*.png
biplane_flap-sym_no-stagger/*.png
biplane_flap-sym_stagger/*.png
*.log
sandia_blade/percent_areas.csv
sandia_blade/percent_masses.csv
tsave*
tghist
*.ech
*.opt
*.v0
*.v1S
*.v22
